{% extends "base.html" %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}


<div class="container">


	<h1 class="my-1">О нас</h1>

	<p class="my-2">Мы — команда из одного разработчика, которая занимается созданием инновационных решений с
		использованием передовых технологий.</p>

	<h2 class="my-1">Наша миссия</h2>

	<p class="my-2">У нас нет никакой миссии, мы просто хотим создать и защитить проект.</p>

	<h3 class="my-1">Наши ценности</h3>

	<ul class="list-group text-decoration-none border-0  my-2">
		<li class="list-group-item border-0 my-1"><strong>Скорость разработки</strong>: Готовый проект меньше, чем за
			неделю.
		</li>
		<li class="list-group-item border-0 my-1"><strong>Качество</strong>: Несмотря на недостаток времени, я буду
			достигать максимального качества кода.
		</li>
		<li class="list-group-item border-0 my-1"><strong>Инновации</strong>: Я всегда в поисках новых и передовых
			решений.
		</li>
	</ul>

	<h4 class="my-1">Как связаться</h4>

	<p class="my-2">Если у вас есть любые вопросы или вы хотите больше узнать о моих проектах, пожалуйста, не
		стесняйтесь связаться со мной, Вы можете найти мой гитхаб аккаунт ниже.</p>

	<a href="https://github.com/qu0ta" class="fs-2 nav-link text-decoration-none text-center">Qu0ta</a>

	<p class="text-center fs-1">Спасибо за внимание!</p>
</div>

{% endblock %}
{% block header %}
{% if not auth %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'reg' %}">Регистрация</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'login' %}">Вход</a>
	</li>
</ul>
{% else %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'profile' %}">Профиль</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'logout' %}">Выйти</a>
	</li>
</ul>
{% endif %}
{% endblock %}