{% extends 'base.html' %}


{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<div class="mx-auto d-flex justify-content-center h-100 align-items-center">
	<form method="post" class="bg-secondary text-center border rounded p-2 pt-0">
		{% csrf_token %}
		<h1 class="fs-1 mb-5 text-light text-center">Авторизация</h1>
		<div class="form-group text-start my-3">
			<p class="text-light m-0">{{form.username.label}}</p>
			{{ form.username }}
		</div>

		<div class="form-group text-start my-3">
			<p class="text-light m-0">{{form.password.label}}</p>
			{{ form.password }}
		</div>

		<button type="submit" class="btn btn-light ">Войти</button>
	</form>
</div>
{% endblock %}

{% block header %}
{% if auth %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'reg' %}">Регистрация</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'login' %}">Вход</a>
	</li>
</ul>
{% else %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	<li class="nav-item">
		<a class="nav-link text-light" href="{% url 'profile' %}">Профиль</a>
	</li>
</ul>
{% endif %}
{% endblock %}