<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {%endblock%}</title>
	{% include "head.html" %}
</head>
<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
	<div class="container-fluid">
		<a class="navbar-brand text-light fs-3" href="{% url 'home' %}">EduNews</a>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{% block header %} {% endblock %}
			<form class="d-flex my-auto">
				<input class="form-control me-2" type="search" placeholder="Поиск новости..." aria-label="Search">
				<button class="btn btn-light" type="submit">Найти</button>
			</form>
		</div>
	</div>
</nav>
<main class="h-100">
	{% block content %} {% endblock %}
</main>
{% include "footer.html" %}
</body>
</html>