
<footer class="footer mt-auto my-2 py-3">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Главная</a></li>
    <li class="nav-item"><a href="{% url 'all_news' %}" class="nav-link px-2 text-muted">Новости</a></li>
    <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-muted">О нас</a></li>
  </ul>
  <p class="text-center text-muted">© 2024 Stanislaw, qu0ta</p>
</footer>
